# не відсліджую віртуальне оточення, тому що є requirements.txt який служить як package.json в node.js оточенні 
myenv/
# який сенс загружати зміни в текстовому файлі... Якби цей проєкт був менш локальним, то можна було би берегти дані в базі, а так поки що в текстовому файлі
users.json